@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Hello World"]</h1>
    <p>@localizer["My name is shubham"]</p>
    @*<h1>@ViewData["Hello World"]</h1>*@
    <p>@localizer["Learn about"] <a href="https://docs.microsoft.com/aspnet/core">@localizer["building Web apps with ASP.NET Core"]</a>.</p>
</div>
